@import 'tailwindcss';
@import 'tw-animate-css';

@plugin '@tailwindcss/typography';

@layer base {
	html.light {
		color-scheme: light;
	}
	html.dark {
		color-scheme: dark;
	}
}

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(0.9684 0.016 98.9931);
	--foreground: oklch(0.38 0.0311 52.9437);
	--card: oklch(0.9684 0.016 98.9931);
	--card-foreground: oklch(0.38 0.0311 52.9437);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.38 0.0311 52.9437);
	--primary: oklch(0.5665 0.1006 14.1906);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(0.7467 0.0402 49.0008);
	--secondary-foreground: oklch(1 0 0);
	--muted: oklch(0.86 0.0394 39.8952);
	--muted-foreground: oklch(0.5737 0.0551 48.3748);
	--accent: oklch(0.86 0.0394 39.8952);
	--accent-foreground: oklch(0.38 0.0311 52.9437);
	--destructive: oklch(0.2284 0.0089 75.1659);
	--destructive-foreground: oklch(1 0 0);
	--border: oklch(0.5737 0.0551 48.3748);
	--input: oklch(0.5737 0.0551 48.3748);
	--ring: oklch(0.5665 0.1006 14.1906);
	--chart-1: oklch(0.5665 0.1006 14.1906);
	--chart-2: oklch(0.5737 0.0551 48.3748);
	--chart-3: oklch(0.7391 0.059 53.5684);
	--chart-4: oklch(0.7467 0.0402 49.0008);
	--chart-5: oklch(0.6302 0.0547 27.7302);
	--sidebar: oklch(0.864 0.0404 39.2935);
	--sidebar-foreground: oklch(0.38 0.0311 52.9437);
	--sidebar-primary: oklch(0.5665 0.1006 14.1906);
	--sidebar-primary-foreground: oklch(1 0 0);
	--sidebar-accent: oklch(0.7391 0.059 53.5684);
	--sidebar-accent-foreground: oklch(1 0 0);
	--sidebar-border: oklch(0.6302 0.0547 27.7302);
	--sidebar-ring: oklch(0.5665 0.1006 14.1906);
	--font-sans: DM Sans, sans-serif;
	--font-serif: Georgia, serif;
	--font-mono: Menlo, monospace;
	--radius: 0.5rem;
	--shadow-x: 2px;
	--shadow-y: 2px;
	--shadow-blur: 0px;
	--shadow-spread: 2px;
	--shadow-opacity: 1;
	--shadow-color: #503e33;
	--shadow-2xs: 2px 2px 0px 2px hsl(22.7586 22.1374% 25.6863% / 0.5);
	--shadow-xs: 2px 2px 0px 2px hsl(22.7586 22.1374% 25.6863% / 0.5);
	--shadow-sm:
		2px 2px 0px 2px hsl(22.7586 22.1374% 25.6863% / 1),
		2px 1px 2px 1px hsl(22.7586 22.1374% 25.6863% / 1);
	--shadow:
		2px 2px 0px 2px hsl(22.7586 22.1374% 25.6863% / 1),
		2px 1px 2px 1px hsl(22.7586 22.1374% 25.6863% / 1);
	--shadow-md:
		2px 2px 0px 2px hsl(22.7586 22.1374% 25.6863% / 1),
		2px 2px 4px 1px hsl(22.7586 22.1374% 25.6863% / 1);
	--shadow-lg:
		2px 2px 0px 2px hsl(22.7586 22.1374% 25.6863% / 1),
		2px 4px 6px 1px hsl(22.7586 22.1374% 25.6863% / 1);
	--shadow-xl:
		2px 2px 0px 2px hsl(22.7586 22.1374% 25.6863% / 1),
		2px 8px 10px 1px hsl(22.7586 22.1374% 25.6863% / 1);
	--shadow-2xl: 2px 2px 0px 2px hsl(22.7586 22.1374% 25.6863% / 2.5);
	--tracking-normal: 0em;
	--spacing: 0.25rem;
}

.dark {
	--background: oklch(0.2672 0.012 44.5837);
	--foreground: oklch(0.9684 0.016 98.9931);
	--card: oklch(0.3291 0.0156 50.8936);
	--card-foreground: oklch(0.9684 0.016 98.9931);
	--popover: oklch(0.3291 0.0156 50.8936);
	--popover-foreground: oklch(0.9684 0.016 98.9931);
	--primary: oklch(0.7391 0.059 53.5684);
	--primary-foreground: oklch(0.2672 0.012 44.5837);
	--secondary: oklch(0.5737 0.0551 48.3748);
	--secondary-foreground: oklch(0.9684 0.016 98.9931);
	--muted: oklch(0.38 0.0311 52.9437);
	--muted-foreground: oklch(0.7575 0.038 50.861);
	--accent: oklch(0.7467 0.0402 49.0008);
	--accent-foreground: oklch(0.2672 0.012 44.5837);
	--destructive: oklch(0.6875 0.142 21.4566);
	--destructive-foreground: oklch(0.2672 0.012 44.5837);
	--border: oklch(0.38 0.0311 52.9437);
	--input: oklch(0.38 0.0311 52.9437);
	--ring: oklch(0.7391 0.059 53.5684);
	--chart-1: oklch(0.7391 0.059 53.5684);
	--chart-2: oklch(0.7467 0.0402 49.0008);
	--chart-3: oklch(0.5665 0.1006 14.1906);
	--chart-4: oklch(0.5737 0.0551 48.3748);
	--chart-5: oklch(0.6302 0.0547 27.7302);
	--sidebar: oklch(0.2225 0.0098 52.9636);
	--sidebar-foreground: oklch(0.9684 0.016 98.9931);
	--sidebar-primary: oklch(0.7391 0.059 53.5684);
	--sidebar-primary-foreground: oklch(0.2225 0.0098 52.9636);
	--sidebar-accent: oklch(0.7467 0.0402 49.0008);
	--sidebar-accent-foreground: oklch(0.2225 0.0098 52.9636);
	--sidebar-border: oklch(0.38 0.0311 52.9437);
	--sidebar-ring: oklch(0.7391 0.059 53.5684);
	--font-sans: DM Sans, sans-serif;
	--font-serif: Georgia, serif;
	--font-mono: Menlo, monospace;
	--radius: 0.5rem;
	--shadow-x: 2px;
	--shadow-y: 2px;
	--shadow-blur: 0px;
	--shadow-spread: 2px;
	--shadow-opacity: 1;
	--shadow-color: #503e33;
	--shadow-2xs: 2px 2px 0px 2px hsl(22.7586 22.1374% 25.6863% / 0.5);
	--shadow-xs: 2px 2px 0px 2px hsl(22.7586 22.1374% 25.6863% / 0.5);
	--shadow-sm:
		2px 2px 0px 2px hsl(22.7586 22.1374% 25.6863% / 1),
		2px 1px 2px 1px hsl(22.7586 22.1374% 25.6863% / 1);
	--shadow:
		2px 2px 0px 2px hsl(22.7586 22.1374% 25.6863% / 1),
		2px 1px 2px 1px hsl(22.7586 22.1374% 25.6863% / 1);
	--shadow-md:
		2px 2px 0px 2px hsl(22.7586 22.1374% 25.6863% / 1),
		2px 2px 4px 1px hsl(22.7586 22.1374% 25.6863% / 1);
	--shadow-lg:
		2px 2px 0px 2px hsl(22.7586 22.1374% 25.6863% / 1),
		2px 4px 6px 1px hsl(22.7586 22.1374% 25.6863% / 1);
	--shadow-xl:
		2px 2px 0px 2px hsl(22.7586 22.1374% 25.6863% / 1),
		2px 8px 10px 1px hsl(22.7586 22.1374% 25.6863% / 1);
	--shadow-2xl: 2px 2px 0px 2px hsl(22.7586 22.1374% 25.6863% / 2.5);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);

	--font-sans: var(--font-sans);
	--font-mono: var(--font-mono);
	--font-serif: var(--font-serif);

	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);

	--shadow-2xs: var(--shadow-2xs);
	--shadow-xs: var(--shadow-xs);
	--shadow-sm: var(--shadow-sm);
	--shadow: var(--shadow);
	--shadow-md: var(--shadow-md);
	--shadow-lg: var(--shadow-lg);
	--shadow-xl: var(--shadow-xl);
	--shadow-2xl: var(--shadow-2xl);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

@theme {
	@keyframes wiggle {
		0%,
		100% {
			transform: rotate(-12deg);
		}
		50% {
			transform: rotate(12deg);
		}
	}
	@keyframes accordion-down {
		from {
			height: 0;
		}
		to {
			height: var(--radix-accordion-content-height);
		}
	}
	@keyframes accordion-up {
		from {
			height: var(--radix-accordion-content-height);
		}
		to {
			height: 0;
		}
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
	@media (width >= --theme(--breakpoint-sm)) {
		max-width: none;
	}
	@media (width >= 1400px) {
		max-width: 1400px;
	}
}
