@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html.light {
    color-scheme: light;
  }
  html.dark {
    color-scheme: dark;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  :root {
    --app-background: var(--mauve-1);
    --app-foreground: var(--mauve-12);

    --ui-background: var(--mauve-3);
    --ui-foreground: var(--mauve-12);

    --ui-accent-background: var(--mauve-4);
    --ui-accent-foreground: var(--mauve-11);

    --btn-primary-background: var(--violet-9);
    --btn-primary-foreground: var(--violet-12);
    --btn-secondary-background: var(--mauve-9);
    --btn-secondary-foreground: var(--mauve-12);

    --warning-background: var(--red-9);
    --warning-foreground: var(--red-12);

    --surrounding-color: var(--violet-7);

    --radius: 0.5rem;
  }
}
