@import 'tailwindcss';
@import './shadcn.css';

@plugin '@tailwindcss/typography';

@layer base {
	html.light {
		color-scheme: light;
	}
	html.dark {
		color-scheme: dark;
	}
}

@utility container {
	margin-inline: auto;
	padding-inline: 2rem;
	@media (width >= --theme(--breakpoint-sm)) {
		max-width: none;
	}
	@media (width >= 1400px) {
		max-width: 1400px;
	}
}
