:root {
  --mauve-1: 300 26% 99%;
  --mauve-2: 270 20% 98%;
  --mauve-3: 267 13.8% 95.3%;
  --mauve-4: 265 12.2% 92.7%;
  --mauve-5: 263 11.6% 90.3%;
  --mauve-6: 261 11.1% 87.7%;
  --mauve-7: 257 10.8% 84.3%;
  --mauve-8: 249 10.4% 75.5%;
  --mauve-9: 252 6% 57.3%;
  --mauve-10: 250 5% 52.3%;
  --mauve-11: 252 5% 40.7%;
  --mauve-12: 260 10% 13.5%;

  --red-1: 359 100% 99.4%;
  --red-2: 0 100% 98.4%;
  --red-3: 360 100% 96.8%;
  --red-4: 360 97.9% 94.8%;
  --red-5: 360 90.2% 91.9%;
  --red-6: 360 81.7% 87.8%;
  --red-7: 359 74.2% 81.7%;
  --red-8: 359 69.5% 74.3%;
  --red-9: 358 75% 59%;
  --red-10: 358 67.4% 54.6%;
  --red-11: 358 65% 47%;
  --red-12: 350 63% 24%;

  --violet-1: 255 65% 99.4%;
  --violet-2: 252 100% 99%;
  --violet-3: 252 96.9% 97.4%;
  --violet-4: 252 91.5% 95.5%;
  --violet-5: 252 85.1% 93%;
  --violet-6: 252 77.8% 89.4%;
  --violet-7: 252 71% 83.7%;
  --violet-8: 252 68.6% 76.3%;
  --violet-9: 252 56% 57.5%;
  --violet-10: 251 48.1% 53.5%;
  --violet-11: 250 43% 48%;
  --violet-12: 250 43% 26%;
}

:root.dark {
  --mauve-1: 300 5% 9.5%;
  --mauve-2: 300 7.1% 11%;
  --mauve-3: 290 6.2% 16.2%;
  --mauve-4: 285 5.8% 19.5%;
  --mauve-5: 280 5.6% 22.4%;
  --mauve-6: 276 5.4% 25.7%;
  --mauve-7: 269 5.3% 30.3%;
  --mauve-8: 258 5% 39.2%;
  --mauve-9: 250 5% 45%;
  --mauve-10: 252 4.3% 52.3%;
  --mauve-11: 250 6% 70.5%;
  --mauve-12: 240 7% 93.8%;

  --red-1: 353 23% 9.8%;
  --red-2: 354 30.2% 12.4%;
  --red-3: 353 40.8% 16.4%;
  --red-4: 353 46.3% 19.2%;
  --red-5: 353 51.2% 22.1%;
  --red-6: 353 57.3% 26.2%;
  --red-7: 354 65.7% 33.2%;
  --red-8: 358 75% 47.1%;
  --red-9: 358 75% 59%;
  --red-10: 359 84.8% 67.6%;
  --red-11: 358 100% 76%;
  --red-12: 350 100% 91%;

  --violet-1: 250 20% 10.2%;
  --violet-2: 255 30.3% 12.9%;
  --violet-3: 254 33.3% 18.4%;
  --violet-4: 253 34.6% 22.1%;
  --violet-5: 253 35.5% 25.5%;
  --violet-6: 252 36.6% 30.5%;
  --violet-7: 251 37.8% 39%;
  --violet-8: 250 46.2% 54.1%;
  --violet-9: 252 56% 57.5%;
  --violet-10: 253 63.2% 64.1%;
  --violet-11: 255 100% 80%;
  --violet-12: 250 93% 93%;
}
