.git
.gitignore

Dockerfile
.dockerignore

# gitignore
.vscode
node_modules
/.cache
/build
.env
/local
*.local.*
*.db
coverage
/app/components/ui/icons
.react-router/
.content-collections/*
.content-collections/generated/*
!.content-collections/generated/
!.content-collections/generated/index.d.ts
.sentryclirc
.env.sentry-build-plugin
.DS_Store
